# Tools / IDE
.classpath
.project
.settings
.idea
.vscode
.sdkmanrc

# Build tools
**/.gradle/

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Build directories
**/build
**/bin
**/out
**/target
**/node_modules
**/lib
**/.npm

# Log files
*.log
*.gz
*.tgz

# Other
**/*.bak
*.txt
.DS_Store

### Jenkins ###
.config/
.npmrc
.docker/
.m2/